{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="Contact your legislator">
  <meta name="keywords" content="contact legislator">
  <meta name="author" content="Sunlight Foundation">

  <meta property="og:title" content="Let Freedom Ring" />
  <meta property="og:url" content="http://opencivicdata.org" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Contact Your Legislator" />
  <meta property="og:image" content="http://opencivicdata.org/img/OpenCivicDatafb.png" />
  <meta property="fb:admins" content="7406790" />

  <title>Open Civic Data</title>

  <!-- Open graph stuff. -->
  <script type="text/javascript" src="//use.typekit.com/tab6neo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <title>{% block title %}{% endblock %}</title>

  {% if debug %}
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  {% else %}
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% endif %}

  <link rel="stylesheet" href="{% static 'css/site.css' %}">
  <link rel="stylesheet" href="{% static 'js/site/main.js' %}">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
  <![endif]-->
  </style>
  {% block extra_head %}
  {% endblock %}
</head>
  <body class="home">
      <div class="container">
        <!--messages -->
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          <ul class="inline">
            <li>{{ message|safe }}</li>
          </ul>
        </div>
        {% endfor %}
      </div>

    <div class="container">
      <div class="content">
{% block content %}
{% endblock content%}
      </div><!-- /.content -->
    </div><!-- /.container -->

    <div id="footer">
      <div class="container">
        <br/>
        <p class="text-muted">
          A project of the Sunlight Foundation.
        </p>
      </div>
    </div><!-- /.footer -->
  </body>
</html>
